native/*.so
tests/shim-libc/test
tests/tracer-nss/nss-probe
tracer/**/*.o
tracer/**/*.d
tracer/proot
tracer/build.h
tracer/licenses
tracer/loader/loader
tracer/loader/loader-m32
tracer/loader/loader-info.c
tracer/.check_*
!tracer/.check_*.c
